@use './../variables' as v

:root
  --color-primary-50:  #{v.$color-primary-50}
  --color-primary-100: #{v.$color-primary-100}
  --color-primary-200: #{v.$color-primary-200}
  --color-primary-300: #{v.$color-primary-300}
  --color-primary-400: #{v.$color-primary-400}
  --color-primary-500: #{v.$color-primary-500}
  --color-primary-600: #{v.$color-primary-600}
  --color-primary-700: #{v.$color-primary-700}
  --color-primary-800: #{v.$color-primary-800}
  --color-primary-900: #{v.$color-primary-900}

  --white: #{v.$white}
  --black: #{v.$black}

  --background:       #{v.$background-light}
  --background-muted: #{v.$background-muted}
  --background-dark:  #{v.$background-dark}

  --border-light: #{v.$border-light}

  --neutral-600: #{v.$neutral-600}
  --neutral-700: #{v.$neutral-700}
  --neutral-800: #{v.$neutral-800}
  --neutral-900: #{v.$neutral-900}

  --text-muted:     #{v.$text-muted}
  --text-secondary: #{v.$text-secondary}
  --text-body:      #{v.$text-body}
  --text-list:      #{v.$text-list}
  --text-back-btn:  #{v.$text-back-btn}

  --info-500: #{v.$info-500}
  --info-600: #{v.$info-600}