<nav class="nav-bar">
    <div class="container">
        <div class="icon">
            <img src="" alt="Logo MeuSim">
        </div>

        <div class="navigation">
            <ul class="links">
                <li><a routerLink="/">Início</a></li>
                <li><a routerLink="/funcionalidades">Funcionalidades</a></li>
                <li><a routerLink="/planos">Planos</a> </li>
                <li><a routerLink="/sobre">Sobre</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
            </ul>

            <div class="btns">
                <a routerLink="/sign-in">Criar Conta</a>
                <a routerLink="">Entrar</a>
            </div>
        </div>
    </div>
</nav>