.form
    display: flex
    flex-direction: column
    gap: 16px

.subtitle
    color: var(--text-muted)
    font-size: 14px
    margin-bottom: 16px

.form-group
    flex: 1
    display: flex
    flex-direction: column
    gap: 6px

label
    font-size: 14px
    color: var(--text-secondary)

input
    width: 100%
    padding: 12px 16px
    border-radius: 8px
    border: 1px solid var(--border-light)
    outline: none
    color: var(--text-secondary)

    &:focus
        border-color: var(--color-primary-500)
        box-shadow: 0 0 0 2px rgba(25, 230, 128, 0.2)

input::placeholder
    color: var(--text-muted)
    opacity: 0.9

.input-message-error
    font-size: 12px
    color: #e40d0d

.form-group-checkbox
    display: flex
    align-items: center
    margin: .5rem 0   

    input
        position: absolute
        top: 0
        left: 0
        width: 1px
        height: 1px
        opacity: 0

.custom-checkbox
    cursor: pointer
    user-select: none
    display: flex
    align-items: center
    gap: 6px

    .text
        font-size: .92rem
        a
            color: var(--color-primary-600)
            cursor: pointer
            &:hover
                text-decoration: underline
            &:visited
                color: var(--color-primary-800)

    .checkmark
        position: relative
        height: 20px
        width: 20px
        background-color: var(--white)
        border: 1px solid #bbb
        display: inline-block
        margin-right: 8px
        vertical-align: middle
        border-radius: 5px
        transition: 0.2s

        &::after
            content: ""
            position: absolute
            display: none

    input:checked + .checkmark
        background-color: var(--color-primary-600)
        border-color: var(--color-primary-600)

    input:checked + .checkmark::after
        display: block
        left: 7px
        top: 3px
        width: 5px
        height: 10px
        border: solid var(--white)
        border-width: 0 2px 2px 0
        transform: rotate(45deg)

.button-group
    display: flex
    justify-content: space-between
    gap: 16px

    button
        flex: 1

.btn-primary
    background: var(--color-primary-600)
    color: var(--white)
    border: none
    padding: 10px
    border-radius: 8px
    cursor: pointer

    &:hover
        background: var(--color-primary-700)

    &:active
        transform: scale(0.98)

.btn-back
    background: #ebebeb
    color: #a0a0a0
    border: none
    padding: 10px
    border-radius: 8px
    cursor: pointer

    &:hover
        background: #e4e4e4

    &:active
        transform: scale(0.98)

.btn-primary-disable
    background: #dadada
    color: #a0a0a0
    border: none
    padding: 10px
    border-radius: 8px
    cursor: not-allowed

    &:hover
        background: #d5d5d5

    &:active
        transform: scale(0.98)
