<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <h2>Criar conta</h2>
  <p class="subtitle">Comece criando seu usuário</p>

  <div class="box-flex">
    <div class="form-group">
      <label>Nome completo<span class="asterix">*</span></label>

      <input type="text" formControlName="name" placeholder="Digite seu nome" />
    </div>

    <div class="form-group">
      <label>Telefone<span class="asterix">*</span></label>

      <input type="text" maxlength="20" formControlName="phoneNumber" placeholder="Digite seu telefone" appPhoneOnly />
    </div>
  </div>

  <div class="box-flex">
    <div class="form-group">
      <label>Email<span class="asterix">*</span></label>

      <input type="email" maxlength="255" formControlName="email" placeholder="seu@email.com" />

      @if (isInvalid('email') && form.get('email')?.errors?.['email']) {
      <span class="input-message-error">Formato de email inválido</span>
      }
    </div>

    <div class="form-group">
        <label>Confirmar email<span class="asterix">*</span></label>

        <input type="email" maxlength="255" formControlName="confirmEmail" placeholder="Repita seu email" />
        
        @if (form.get('confirmEmail')?.value && form.get('email')?.value !== form.get('confirmEmail')?.value) {
          <span class="input-message-error">Os emails não coincidem</span>
        }
    </div>
  </div>

  <div class="form-group">
    <label>CPF<span class="asterix">*</span></label>

    <input type="text" maxlength="11" formControlName="cpf" numbersOnly placeholder="Digite seu CPF (apenas números)" />

    @if (isInvalid('cpf') && form.get('cpf')?.errors?.['exactLength']) {
      <span class="input-message-error">CPF inválido</span>
    }
  </div>

  <div class="form-group">
    <label>Endereço</label>

    <input type="text" formControlName="address" placeholder="Digite seu endereço" />
  </div>

  <div class="box-flex">
    <div class="form-group">
      <label>Senha<span class="asterix">*</span></label>

      <div class="input-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••••" />
        <button type="button" class="btn-toggle-password" (click)="showPassword = !showPassword">
            @if (showPassword) {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
            }
        </button>
      </div>

      @if (form.get('password')?.errors?.['minlength']) {
        <span class="input-message-error">Mínimo de 8 caracteres</span>
      }

      @if (form.get('password')?.errors?.['maxlength']) {
        <span class="input-message-error">Máximo de 20 caracteres</span>
      }
    </div>

    <div class="form-group">
      <label>Confirmar senha<span class="asterix">*</span></label>

      <div class="input-wrapper">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="••••••••" />
        <button type="button" class="btn-toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
            @if (showConfirmPassword) {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
            }
        </button>
      </div>

      
      @if (form.get('password')?.value != form.get('confirmPassword')?.value) {
        <span class="input-message-error">As senhas não coincidem</span>
      }
    </div>
  </div>

  @if (!form.invalid) {
    <button type="submit" class="btn-primary">
      Continuar
    </button>
  }
  @else {
    <button type="button" class="btn-primary-disable" (click)="inputsEmpty()">
      Continuar
    </button>
  }
</form>