SPRING_PROFILE=Profile iniciado
SPRING_SERVER_PORT=Porta que roda a aplicacao
FRONT_END_URL=Url que está rodando o front-end para redirecionar de forma adequada do back-end -> fron-end
BACK_END_URL=Url do back-end serviços de email ou outros apontar de forma correta
DATABASE_URL_PROD=Url do banco em prod
DATABASE_USERNAME_PROD=Name do banco em prod
DATABASE_PASSWORD_PROD=Password do banco em prod
DATABASE_URL_TEST=Url do banco em ambiente de teste
DATABASE_USERNAME_TEST=Name do banco em ambiente de teste
DATABASE_PASSWORD_TEST=Name do banco em ambiente de teste
REDIS_HOST=Endereco que está rodando o redis
EMAIL_HOST=Endereco do smtp em prod
EMAIL_PORT=Porta do smtp em prod
EMAIL_USERNAME=Email do smtp em prod
EMAIL_PASSWORD=Senha da aplciação do smtp em prod
EMAIL_SMTP_AUTH=Default: true - para precisar de autenticacao
EMAIL_SMTP_STARTTLS=Default: true - para transforma um email em texto simples para criptografado
EMAIL_HOST_TEST=Endereco do smtp em teste
EMAIL_PORT_TEST=Porta do smtp em teste
EMAIL_USERNAME_TEST=Email do smtp em teste (defaul: vazio)
EMAIL_PASSWORD_TEST=Email do smtp em teste (defaul: vazio)
EMAIL_SMTP_AUTH_TEST=Email do smtp em teste (defaul: false)
EMAIL_SMTP_STARTTLS_TEST=Email do smtp em teste (defaul: false)
TURNSTILE_SECRET_KEY=Key turnstile do lado do servidor para captcha
TURNSTILE_SECRET_KEY_TEST=Key turnstile de teste do lado do servidor para captcha (default: 1x0000000000000000000000000000000AA)
TURNSTILE_VERIFY_URL=endereco de verificacao do turnstile para as keys (default: https://challenges.cloudflare.com/turnstile/v0/siteverify)
MERCADO_PAGO_WEBHOOK_SECRET_PROD=Palavra secreta do checkout do mercado pago em prod
MERCADO_PAGO_ACCESS_TOKEN_PROD=Token de acesso do mercado pago em prod
MERCADO_PAGO_NOTIFICATION_PROD=Endereco do webhook em prod
MERCADO_PAGO_WEBHOOK_SECRET_TEST=Palavra secreta do checkout do mercado pago em teste
MERCADO_PAGO_ACCESS_TOKEN_TEST=Token de acesso do mercado pago em teste
MERCADO_PAGO_NOTIFICATION_TEST=Palavra secreta do checkout do mercado pago em teste
